<a href="/carts/67eef5807fa2ca2bef6c9114" class="button-ver-carrito">Ver carrito</a> 
<div class="vista-detallada">
    <h2>{{product.title}}</h2>
    <div class="div-imagenes-producto-vista-detallada">
        {{#each product.thumbnails}}
            <img src="{{this}}" alt="imagen del producto" class="imagenes-producto-vista-detallada">
        {{/each}}
    </div>
    <p>{{product.description}}</p>
    <p>Categoría: {{product.category}}</p>
    <p>Precio: ${{product.price}}</p>
    
    {{!-- activa o desactiva el boton agregar a carrito --}}
        {{#if product.status}}
            <form class="form-agregar" data-cid="{{defaultCartId}}" data-pid="{{product._id}}">
                <button type="submit">Agregar al carrito</button>
            </form>
        {{else}}
            <form>
                <button type="submit" disabled style="background-color: grey; cursor: not-allowed;" class="producto-no-disponible">
                Producto no disponible
                </button>
            </form>
        {{/if}}
    </form>
</div>
<script>
    console.log("script activo")
    document.querySelectorAll('.form-agregar').forEach(form => {
    form.addEventListener('submit', function (e) {
      e.preventDefault(); // Evita que recargue/redirija
        console.log("Default Cart ID:", "{{defaultCartId}}");
      const cid = this.dataset.cid;
      const pid = this.dataset.pid;
        console.log("🛒 Intentando agregar:", { cid, pid });
      fetch(`/api/carts/${cid}/product/${pid}`, {
        method: 'POST'
      })
      .then(res => {
        if (!res.ok) throw new Error("Error al agregar");
        return res.json();
      })
      .then(data => {
        alert('🛒 Producto agregado al carrito por default✔️\n➡️ Para ver el carrito, presione el boton: "Ver carrito"\n(El boton se encuentra arriba a la izquierda, debajo de la nav)');
        // Si querés, podés actualizar un contador de carrito acá
      })
      .catch(err => {
        console.error(err);
        alert("❌ Error al agregar al carrito");
      });
    });
  });
</script>